
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    Congrats @ViewBag.customerName, you have succesfully purchased @ViewBag.tickets tickets for @ViewBag.totalprice SEK
</p>

<p>Your confirmation number is: @ViewBag.id</p>



