@using Microsoft.Extensions.Options;


@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/PaccinoAndDeNiroSalons.css" />
</head>


@{
    var salon = "";

    if (ViewBag.salon.Equals("Paccino-Salon"))
    {
        salon = "PaccinoSalons";
    }
    else if (ViewBag.salon.Equals("De-Niro-Salon"))
    {
        salon = "DeNiroSalons";
    }
}
<h1>Payment</h1>

<div class="d-flex flex-nowrap">  
    <div class="order-2 p-2" id="divFormPayment">
        <form method="post" action="@Url.Action("EditAvailible", salon)">
            <div class="order-1 p-2" id="divOneFormPayment">
                <label>CreditCard</label>
                <div class="form-group">
                    <input type="text" id="creditCard" name="creditCard" minlength="10" maxlength="10" required />
                </div>
                <label>Expiry Date</label>
                <div class="form-group">
                    <input type="text" id="expiryDate" name="expiryDate" minlenght="4" maxlength="4" required />
                </div>
                <label>CVC</label>
                <div class="form-group">
                    <input type="text" id="cvc" name="cvc" required maxlength="3" minlength="3" />
                </div>
                <input type="submit" class="btn btn-primary" id="submitPayment" value="Checkout" />
            </div>
            <div class="order-2 p-2" id="divTwoFormPayment">

                <label>Movie</label>
                <div class="form-group">
                    <input name="movie" value=@ViewBag.movie readonly>
                </div>
                <label>Fullname</label>
                <div class="form-group">
                    <input name="fullname" value=@ViewBag.fullname readonly>
                </div>
                <label>Email</label>
                <div class="form-group">
                    <input name="email" value=@ViewBag.email readonly>
                </div>
                <input type="hidden" name="entities" value=@ViewBag.entities readonly>
                <label>Number of Tickets</label>
                <div class="form-group">
                    <input name="NoOfTickets" value=@ViewBag.noTickets readonly>
                </div>
                <label>Price</label>
                <div class="form-group">
                    <input name="price" value=@ViewBag.price readonly>
                </div>
                <label>Time</label>
                <div class="form-group">
                    <input name="time" value=@ViewBag.time readonly>
                </div>
                <label>Salon</label>
                <div class="form-group">
                    <input name="salon" value=@ViewBag.salon readonly>
                </div>
                <label>Seats</label>
                <div class="form-group">
                    <input name="actualSeats" value=@ViewBag.actualSeats readonly>
                </div>
            </div>
        </form>
    </div>
</div>
