#tabbbbb td {
        display: inline;
}

#tabbbbb td:nth-child(10):after {
        content: "\A";
        white-space: pre;
    }
    #tabbbbb td:nth-child(20):after {
        content: "\A";
        white-space: pre;
    }
    #tabbbbb td:nth-child(30):after {
        content: "\A";
        white-space: pre;
    }
    #tabbbbb td:nth-child(40):after {
        content: "\A";
        white-space: pre;
    }

