
@{
    ViewData["Title"] = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ConfirmOrder</h1>

@ViewBag.Price
@ViewBag.Name



<script type="text/javascript">

    function isNumber() {

        //var noTicket = document.getElementById("numberOfTicket").value;

        try {
            var x = parseInt(document.getElementById("numberOfTicket").value)
            console.log(x);
            console.log(typeof x)

            if (
                x > 12 ||
                Number.isNaN(x) === true ||
                x === 0
            ) {
                alert("Please enter a valid number between 1 - 12")
                document.getElementById("submit").disabled = true;

            } else {
                document.getElementById("numberOfTicket").value = x;
                document.getElementById("submit").disabled = false;
            }

        } catch (e) {
            alert("Please enter a valid number between 1 - 12")
        }

    }

    function Enable() {
        document.getElementById("movie").disabled = false;
        document.getElementById("price").disabled = false;
    }

</script>


<form method="post" action="@Url.Action("OrderConfirmation", "Orders")">
    <label>Movie</label>
    <input type="text" name="movie" value=@ViewBag.Name id="movie" disabled />
    <label>FullName</label>
    <input type="text" name="fullname" id="fullname" required />
    <label>Email</label>
    <input type="text" name="email" id="email" required />
    <label>Price</label>
    <input type="text" name="price" id="price" value=@ViewBag.price disabled />
    <label>Number Of Tickets</label>
    <input type="text" name="numberOfTicket" id="numberOfTicket" maxlength="2" onchange=isNumber() required />

    <input type="submit" id="submit" onclick=Enable() value="Confirm" disabled />

</form>



